@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight:bold;
    font-style: normal;
    
}

.main {
    width: 100%;
    height: 740px;
    /* border:5px solid red; */
    background-color: #BFF6C3;
}